#S(DDUMP
   :SCREENS (#S(SDUMP
                :NUMBER 0
                :GROUPS (#S(GDUMP
                            :NUMBER 1
                            :NAME "Default"
                            :TREE ((#S(FDUMP
                                       :NUMBER 0
                                       :X 1
                                       :Y 1
                                       :WIDTH 1439
                                       :HEIGHT 1798
                                       :WINDOWS (12582928)
                                       :CURRENT 12582928)
                                    (#S(FDUMP
                                        :NUMBER 2
                                        :X 1440
                                        :Y 1
                                        :WIDTH 1439
                                        :HEIGHT 899
                                        :WINDOWS (10486079)
                                        :CURRENT 10486079)
                                     #S(FDUMP
                                        :NUMBER 1
                                        :X 1440
                                        :Y 900
                                        :WIDTH 1439
                                        :HEIGHT 899
                                        :WINDOWS (6291466)
                                        :CURRENT 6291466))))
                            :CURRENT 1))
                :CURRENT 1))
   :CURRENT 0)